/* BASICS */
html {
    --off-white: rgb(234,230,229);
    --off-gray: rgba(234, 230, 229, 0.71);
    --aqua: rgb(0,255,238);
    --transparent-aqua: rgba(0, 255, 238, 0.1);
    --dark-blue: rgb(16,29,37);
    --darker-blue: rgb(11,20,25);
    --light-green: rgb(47,74,62);
    --dark-green: rgb(34,54,45);
    --nav-height: 7rem;
    --shadow: 0px 0px 25px 0px var(--darker-blue);
    scroll-behavior: smooth; 
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--off-white);
    background: var(--dark-blue);
}

footer {
    background-color: var(--darker-blue);
    align-items: center;
}

h1 {
    font-size: max(6vw, 6.75em);
}

h2 {
    font-size: max(2vw, 2.25em);
}

h3 {
    font-size: 4.8em;
    margin-bottom: 3rem;
}

h4 {
    font-size: 3.2em;
    margin-bottom: 2.4rem;
}

h5 {
    font-size: 2.6em;
    margin-bottom: 2.4rem;
}

h6 {
    font-size: 2.25em;
    margin-bottom: 1rem;
}

p {
    font-size: 1.9em;   
    margin-bottom: 1em;
    line-height: 1.2em;
}

a {
    transition: color 0.2s linear;
}

a:hover {
    color: var(--aqua);
    cursor: pointer;
}

em {
    color: var(--aqua);
}

ul {
    font-size: 1.9em;
    padding-left: 1.5em;
    list-style: "›  ";
}

ul > li {
    margin-bottom: 0.8em;
    line-height: 1.2em;
}

.button {
    font-size: 2em;
    padding: 1em;
    border: 1px solid var(--off-white); 
    border-radius: 6%;
    transition: all 0.2s linear;
}

.button:hover {
    border: 1px solid var(--aqua);
    background-color: var(--transparent-aqua);
}

.card {
    border-radius: 10px;
    padding: 3.5em;
    padding-top: 4em;
    padding-bottom: 1.5em;
    background-color: var(--light-green);
    transition: transform 0.2s linear;
}

.card:hover {
    transform: translate(0rem, -0.8rem);
}

.grid {
    display: grid;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    margin-right: auto !important;
}

.right {
    margin-left: auto !important;
}

.up {
    margin-bottom: auto !important;
}

.down {
    margin-top: auto !important;
}

.blur {
    filter: blur(8px);
}

.fade {
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-name: fadein;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* NAV-BAR */
#nav-bar {
    width: 100%;
    height: var(--nav-height);
    z-index: 10;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--dark-green);
    box-shadow: var(--shadow);
    opacity: 0.975;
    transition: transform 0.25s linear;
}

#nav-bar.hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
}

.nav-bar-item {
    font-size: 2em;
    padding: 2.5rem;
}

#nav-bar-end {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: 0.5px solid var(--off-white);
}

#nav-dropdown {
    display: none;
    font-size: 3.25em;
    transition: color 0.2s linear;
}

#nav-modal {
    width: 40%;
    height: 100%; 
    z-index: 20;
    position: fixed;
    right: -50%;
    top: 0%;
    padding: 25px;
    background-color: var(--dark-green);
    box-shadow: var(--shadow);
    opacity: 0;
    transition: all 0.4s linear;
}

#nav-modal.reveal {
    right: 0%;
    opacity: 1;
}

#close-nav-modal {
    z-index: 5;
    top: 2.5rem; /* 25px */
    align-self: flex-start;
    font-size: 2.75em;
}

.nav-modal-item {
    font-size: 2.25em;
    padding: 3.25rem;
    border-bottom: 0.5px solid var(--off-white);
}

#nav-modal-end {
    border-bottom: none;
}

@media screen and (max-width: 768.5px) { 
    #nav-bar a:not(:first-child) { display: none; }
    #nav-dropdown { display: inline; }
}

@media screen and (min-width: 768.5px) { 
    #nav-modal { display: none; }
}


/* HOME-PAGE */
#home-page {
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    background: url("../assets/background.jpeg");
    background-size: cover;
    background-position: center bottom;
    transition: filter 0.2s linear;
}

#greeting {
    text-align: center;
    margin-bottom: max(2vw, 2.25rem);
}

#welcome {
    text-align: center;
}


/* PAGE-CONTENT */
#page-content {
    grid-template-columns: 10rem 1fr;
    background: linear-gradient(180deg, var(--dark-blue) 0%, var(--darker-blue) 100%);
    transition: all 0.2s linear;
}

#sidebar, #mainbar {
    align-items: center;
}

.content-section {
    padding: 5rem;
    opacity: 0;
    transform: translateY(10rem);
    transition: 1s all ease;
}

.content-section.reveal {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 768.5px) {
    .content-section { padding-left: 2.5rem; padding-right: 2.5rem; }
}

@media screen and (max-width: 992.5px) { 
    #page-content { display: flex; flex-direction: column; }
    #contact-icons { display: none; }
}

@media screen and (min-width: 992.5px) {
    #page-content { grid-template-columns: 10rem 1fr; }
}


/* ABOUT ME */
#portrait {
    border: 6px solid var(--light-green);
    border-radius: 100%;
}

@media screen and (max-width: 768.5px) {
    #my-info { display: flex; flex-direction: column; align-items: center; }
    #autobiography { width: 75vw; margin-right: 0rem; margin-bottom: 3rem; }
    #portrait { width: 45vw; }
}

@media screen and (min-width: 768.5px) and (max-width: 992.5px) {
    #my-info { display: flex; flex-direction: row; }
    #autobiography { width: min(400px, 44vw); margin-right: 3rem; }
    #portrait { width: min(250px, 22vw); }
}

@media screen and (min-width: 992.5px) {
    #my-info { display: flex; flex-direction: row; }
    #autobiography { width: min(540px, 48vw); margin-right: 5rem; }
    #portrait { width: min(400px, 24vw); }
}


/* FEATURED PROJECTS */
.featured-project {
    margin-bottom: 3rem;
}

.featured-image {
    z-index: -1;
    border-radius: 10px; 
    box-shadow: var(--shadow);
    transition: opacity 0.2s linear;
}

figure {
    background-color: var(--aqua);
    border-radius: 10px;
}

@media screen and (max-width: 992.5px) {
    #featured-projects { display: flex; flex-direction: column; }
    .featured-image, figure { display: none; }
    .featured-description {
        width: 60vw;
        min-height: 40vw;
        padding: 6.4rem;
        padding-top: 6rem;
        box-shadow: var(--shadow);
        transition: color 0.2s linear;
    }
    #sunflower-feature { 
        background: url("../assets/transparent-cssi.png"); 
        background-size: cover;
        background-position: center center;
    }
    #word-hunt-feature { 
        background: url("../assets/transparent-cssi.png"); 
        background-size: cover;
        background-position: center center;
    }
    #cssi-feature { 
        background: url("../assets/transparent-cssi.png"); 
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (min-width: 992.5px) { 
    .featured-image, figure {
        --featured-image-width: min(750px, 52vw);
        width: var(--featured-image-width);
        height: min(calc(var(--featured-image-width) / 1.6), 32.5vw); 
    }
    .featured-image:hover { opacity: 85%; }   
    .featured-description { width: min(350px, 23.25vw); padding-top: .75vw; }
    #sunflower-feature { margin-left: 3rem; }
    #word-hunt-feature { margin-right: 3rem; }
    #cssi-feature { margin-left: 3rem; }
}


/* OTHER PROJECTS */
#other-projects-grid {
    grid-gap: 1.5rem;
}

@media screen and (max-width: 576.5px) {
    #other-projects-grid { grid-template-rows: repeat(6, minmax(300px, 1fr)); }
}

@media screen and (min-width: 576.5px) and (max-width: 768.5px) {
    #other-projects-grid {
        grid-template-rows: repeat(3, minmax(350px, 400px));
        grid-template-columns: repeat(2, minmax(240px, 325px));
    }
}

@media screen and (min-width: 768.5px) and (max-width: 992.5px) {
    #other-projects-grid {
        grid-template-rows: repeat(3, minmax(360px, 400px));
        grid-template-columns: repeat(2, minmax(245px, 350px));
    }
}

@media screen and (min-width: 992.5px) { 
    #other-projects-grid {
        grid-template-rows: repeat(2, minmax(375px, 400px));
        grid-template-columns: repeat(3, minmax(250px, 350px));
    }
}


/* QUALIFICATIONS */
#brown-logo {
    height: 20em;
}

#education-info {
    padding: 1.2em;
}

#experience-grid {
    display: grid; 
    grid-template-columns: 160px 1fr;
}

#experience-descriptions {
    grid-template-rows: 1fr;
    grid-template: 1fr;
    padding-left: 2em;
}

.experience-list {
    font-size: 1.9em;
    border-left: 1.5px solid var(--transparent-aqua);
}

.experience-list li {
    padding: 10px;
    padding-left: 20px;
    line-height: 1.2em;
    transition: all 0.2s linear;
}

.experience-selected {
    color: var(--aqua);
    border-left: 1.5px solid var(--aqua);
    background-color: var(--transparent-aqua);
}

.experience-description {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.experience-description.reveal {
    opacity: 1;
    z-index: 5;
}

@media screen and (max-width: 768.5px) {
    #qualifications-container {
        display: flex;
        flex-direction: column;
    }
    #education {
        width: min(400px, 80vw);
        margin-bottom: 3em;
    }
    #education-info { padding-left: 1.6em; }
    #experience {
        width: min(600px, 80vw);
        height: clamp(300px, calc(1068px - 100vw), 600px);
    }
}

@media screen and (min-width: 768.5px) and (max-width: 992.5px) {
    #qualifications-container {
        display: flex;
        flex-direction: column;
    }
    #education {
        width: 450px;
        margin-bottom: 3em;
    }
    #education-info { padding-left: 1.6em; }
    #experience { height: clamp(275px, calc(1267px - 100vw), 325px); }
}

@media screen and (min-width: 992.5px) {
    #education { width: min(400px, 30vw); margin-right: 25px; }
    #experience { 
        width: min(600px, 42vw); 
        height: clamp(360px, calc(1800px - 100vw), 480px);
        padding: 1.2em; 
    }
}


/* CONTACT  */
#contact-icons {
    position: fixed;
    bottom: 1.5em;
    font-size: 2.75em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
}

.contact-icon, .contact-icon-footer {
    transition: transform 0.2s linear;
}

.contact-icon:hover, .contact-icon-footer:hover {
    transform: translate(0rem, -0.5rem);
}

.project-icon {
    font-size: 2.4em; 
    margin: 0em;
    margin-left: 0.5em;
}

#contact-footer {
    font-size: 2.75em;
    margin-top: 10rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

#outro {
    color: var(--off-gray);
    font-size: 1.6em;
    margin-bottom: 1.6em;
}

@media screen and (min-width: 992.5px) {
    #contact-footer { display: none; }
    #outro { margin-top: 10rem; }
}